@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  /* width: 10px; */
  display: none;
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: gainsboro;
  border-radius: 10px;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 10px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: var(--lightblue);
} */
